<% require 'json' %>
<article>
  <header>
    <h1> lawn bookings</h1>
  </header>
  <section class="table-responsive">
    <table class="table table-striped">
      <!-- Lawns are populated as empty objects from today's date up to the 10th day, when the user books a lawn, this will then be created in the back end -->
    <% (Time.now.to_date..9.days.from_now.to_date).each do |date| %>
      <thead> 
        <tr> 
          <th>Lawn </th>
          <th>Book for <%= date.strftime("%A, %e %B %Y") %></th> 
        </tr>
      </thead>
  
      <tbody>
        <% (1..3).each do |i| %> 
        <tr> 
          <td > No <%= i %></td>
          <% if @lawnbookings.where(booking_date: date, lawn_no: i).count >= 1 %>
          <td class="booked" data-booking-date="<%= date %>" data-lawn-no="<%= i %>">has already been booked </td>
            <%else %>
          <td class="unbooked" data-booking-date="<%= date %>" data-lawn-no="<%= i %>" > <input type ="button" class="button_book btn btn-success" value="Book Lawn" data-booking-date="<%= date %>" data-lawn-no="<%= i %>"/>  
          </td>
         <% end %>
        </tr>  
        <% end %> 
      </tbody>
    <% end %>
    </table>
  </section>
</article>